//
   Created by Dave on 10/19/15.
block content
   .about
      .aboutContainer
         .aboutSection
            h3.aboutTitle HOW IT WORKS
            p Stay up to date on your favorite bar's current selection of enticing brews. Simply search for a bar and have their current list instantly displayed! If you would like more information, click on a beer to appreciate it in all its hoppy glory.
         .aboutSection
            h3.aboutTitle WHO AM I
            p I am a craft beer enthusiast with a thirst for knowledge. I built this app so that when I'm at the bar, I know I'm making the right choice everytime.
         .aboutSection
            h3.aboutTitle DISCLAIMER
            p Your bar is responsible for updating the content on this app, so get after them to keep it up-to-date! Also, drink responsibly yada-yada.