//
   Created by Dave on 10/19/15.
block content
   .adminContainer(ng-controller='AdminController as admin')
      .adminBar(ng-hide='admin.customShow')
         .adminBeerList
            h2 {{admin.bar.barName}}
            h3 MY BEER LIST
            .addBeer
               input(type='text' placeholder='Add A Beer' ng-model='admin.addBeer')
               md-button(ng-click='admin.getBeer()') SEARCH
            .returnBeers(ng-repeat="beer in admin.beerChoice track by $index")
               .choiceList
                  .beer
                     ul
                        li(ng-click="admin.addNewBeer(beer)") {{beer.breweries[0].name}} {{beer.name}}

            md-button(ng-show='admin.addCustom' ng-click='admin.revealCustom()') CAN'T FIND WHAT YOU'RE LOOKING FOR?
            .beerList(ng-repeat="beer in admin.beerList")
               .beer
                  p {{beer.brewery}} {{beer.name}}
                  md-button(class='removeButton' ng-click="admin.deleteBeer($index)") REMOVE
         .barInfo
            h3 MY INFO
            .barUpdate
               h3(editable-text="admin.bar.barName" ng-model="admin.bar.barName") {{admin.bar.barName}}
               ul
                  li(class="userInfo") Email:
                  li(editable-text="admin.bar.email") {{admin.bar.email || 'Click to add.'}}
                  li(class="userInfo") Phone Number:
                  li(editable-text="admin.bar.phoneNumber") {{admin.bar.phoneNumber || 'Click to add.'}}
                  li(class="userInfo") Street:
                  li(editable-text="admin.bar.street") {{admin.bar.street || 'Click to add.'}}
                  li(class="userInfo") City:
                  li(editable-text="admin.bar.city") {{admin.bar.city || 'Click to add.'}}
                  li(class="userInfo") State:
                  li(editable-text="admin.bar.state") {{admin.bar.state || 'Click to add.'}}
                  li(class="userInfo") Zipcode:
                  li(editable-text="admin.bar.zipcode") {{admin.bar.zipcode || 'Click to add.'}}
                  li(class="userInfo") Description:
                  li(editable-text="admin.bar.description") {{admin.bar.description || 'Click to add.'}}
               .userControls
                  md-button(ng-click="admin.submitUserChanges()") SUBMIT CHANGES
                  a(ng-click="admin.deleteUser()" href='/home') Delete My Account
                  p(ng-show='admin.successShow' class='fadein fadeout successMessage') Your account has been updated!
      //Custom Beer form shows on Can't find what you're looking for button click
      .customBeerForm(ng-show='admin.customShow')
         md-content.createABeer(layout-padding)
            h1 ADD A CUSTOM BEER
            form(name='customForm')
               .customNaming(layout layout-sm="column")
                  md-input-container(flex)
                     input(name='brewery' placeholder="Brewery" ng-model='admin.cusBrewery')
                     div(ng-messages='customForm.brewery.$error')
                        div(ng-messages='required') Required.
                  md-input-container(flex)
                     input(type='text' name='beerName' placeholder="Beer Name" ng-model='admin.cusName')
                     div(ng-messages='customForm.beerName.$error')
                        div(ng-messages='required') Required.
               md-input-container
                  input(type='text' name='style' placeholder="Beer Style" ng-model='admin.cusStyle')
                  div(ng-messages='customForm.style.$error')
                     div(ng-messages='required') Required.
               .stats(layout layout-sm="column")
                  md-input-container(flex)
                     input(type='number' placeholder="IBU" ng-model='admin.cusIbu' step="0.1")
                  md-input-container(flex)
                     input(type='number' placeholder="ABV" ng-model='admin.cusAbv' step="0.1")
                  md-input-container(flex)
                     input(type='number' placeholder="SRM" ng-model='admin.cusSrm' step="0.1")
               md-input-container
                  input(type='text' placeholder="Availability" ng-model='admin.cusAvail')
               md-input-container
                  input(type='text' placeholder="Description" ng-model='admin.cusDesc')
               md-input-container
                  input(type='text' placeholder="Add an image link" ng-model='admin.cusImg')
               md-button(ng-click='admin.submitCustomBeer()') TAP THE KEG







