//
   Created by Dave on 10/19/15.
block content
    .registerContent
       md-content.registerContainer(ng-controller="RegisterController as register" layout-padding)
          h2.headTitle WELCOME TO BEER BOARD!
          form(name='registerForm' action="/register" method='POST')
                md-input-container
                   label Username
                   input(required="" name="username" id="username" ng-model='register.username')
                   div(ng-messages='registerForm.username.$error')
                      div(ng-messages="required") Required.

                md-input-container
                   label Password
                   input(type='password' required name='password' id='password' ng-model='register.password')
                   div(ng-messages='registerForm.password.$error')
                      div(ng-messages='required') Required.

                md-input-container
                   label Bar Name
                   input(type='text' required name='barName' id='barName')
                   div(ng-messages='registerForm.barName.$error')
                      div(ng-messages='required') Required.

                .emailPhone(layout layout-sm="column")
                   md-input-container(flex)
                      label Email
                      input(type='text' required name='email' id='email')
                      div(ng-messages='registerForm.email.$error')
                         div(ng-messages='required') Required.

                   md-input-container(flex)
                      label Phone (555)555-5555
                      input(type='text' id='phoneNumber' name='phoneNumber')

                md-input-container(flex)
                   label Street Address
                   input(type='text'  name='street' id='street')

                .location(layout layout-sm="column")
                   md-input-container(flex)
                      label City
                      input(type='text'  name='city' id='city')

                   md-input-container(flex)
                      label Abbreviated State
                      input(type='text'  name='state' id='state')

                   md-input-container(flex)
                      label Zipcode(55555)
                      input(type='number' name='zipcode' id='zipcode')

                md-input-container(flex)
                   label Bar Description
                   input(type='text'  name='description' id='description')

                div
                   md-button(ng-click="register.successMessage()") SUBMIT
