@import url(https://fonts.googleapis.com/css?family=Montserrat|Oswald);
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Oswald', sans-serif;*/
html, body{
  margin: 0;
  padding: 0;
  background: url('../images/chalkboard.jpg') no-repeat fixed;
}
body{
  font-family: 'Montserrat', sans-serif;
  color: antiquewhite;
}
button{
  cursor: pointer;
}
.mainContent{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main, .about {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul{
  list-style-type: none;
  padding: 0;
}
a{
  text-decoration: none;
  color: antiquewhite;
}
input{
  text-align: center;
}
a:hover{
  color: #FDDD0B;
  text-shadow: 3px 3px 3px hsla(360, 100%, 100%, 0.3);
}
/*Header styles*/
.header{
  height: 70px;
  background-color: hsla(0, 7%, 8%, 0.45);
}
.logoImg img{
  height: 50px;
  margin: 10px 0 0 20px;
}
.logLink, #copyright, .userMenu {
  float: right;
}
    /*Header Popups*/
.loginContent, .userMenuContent{
  padding: 10px;
  border-radius: 5px;
  color: hsla(0, 7%, 8%, 1);
  box-shadow: 2px 3px 26px 1px rgba(253,221,11,0.2);
}
.loginContent a, .userMenuContent a {
  color: black;
}
.loginContent a:hover, .userMenuContent a:hover , .successMessage{
  color: #FDDD0B;
}
.userMenuContent, .loginContent{
  text-align: center;
}
#password{
  margin-left: 3px;
}
.logLink, .userMenu{
  top: 15%;
}
.fa-bars{
  font-size: 3em;
}
.myBar{
  border-bottom: 1px solid black;
}
.errorMessage{
  position: absolute;
  float: right;
}
/*Footer styles*/
.footer{
  height: 70px;
  background-color: hsla(0, 7%, 8%, 0.65);
}
.footerLink, #copyright {
  position: relative;
  top: 20px;
  margin: 0 10px;
}

/*Home styles*/
.homeMain{
  width: 90%;
}
.homeContainer{
  text-align: center;
}
.logo {
  font-size: 10em;
  color: #FDDD0B;
  font-family: 'Oswald', sans-serif;
  margin: 20px;
  transition: all 0.3s ease;
}
.logo:hover{
  text-shadow: 3px 3px 3px hsla(360, 100%, 100%, 0.2);
}
.searchBar{
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
}
.searchSubmit {
  color: #FDDD0B;
  margin: 5px auto 0;
  display: block;
}
.ratingInput{
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: none;
  color: antiquewhite;
  font-size: 2em;
}
md-slider .md-track.md-track-fill, .md-thumb:after, .md-thumb-container {
  background-color: #FDDD0B;
  border-color: #FDDD0B;
}
/*Customer View*/
.barName {
  color: #FDDD0B;
  font-size: 4em;
  margin-bottom: 5px;
}
.beerListTitle {
  letter-spacing: 5px;
  flex: 6 1 auto;
  align-self: auto;
  margin: 0;
  padding-top: 15px;
}
.newSearch{
  flex: 1 1 auto;
  align-self: auto;
}
.onTapContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid antiquewhite;
  margin-bottom: 5px;
  padding-bottom: 2px;
}
.customerBeer{
  border: 1px solid rgba(255, 255, 255, 0.22);
  background-color: hsla(0, 7%, 8%, 0.45);
  border-radius: 4px;
  text-align: left;
  padding-left: 5px;
  position: relative;
}
.customerBeer img{
  height: 120px;
  width: auto;
  float: right;
}
.customerBeer p {
  text-transform: uppercase;
}
.beerName{
  color: #FDDD0B;
  font-size: 1.25em;
  margin: 4px 0;
}
.barLocation{
  margin: 0;
}
.statsList{
  margin: 0;
}
.ratingButtons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.expandedView{
  overflow: hidden;
}
/*About styles*/
.aboutContainer{
  width: 70%;
  padding: 5px;
  background-color: hsla(0, 7%, 8%, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.22);
  border-radius: 5px;
}
.aboutTitle {
  color: #FDDD0B;
}
.aboutTitle:first-child{
  margin-top: 5px;
}
/* User View Styles*/
.adminContainer{
  width: 90%;
}
.adminBar{
  text-align: center;
}
.adminBeerList h2{
  font-size: 2.5em;
  color: #FDDD0B;
  margin-bottom: 5px;
}
.addBeer input{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border-radius: 5px;
}
.beer, .customBeerA{
  border: 1px solid rgba(255, 255, 255, 0.22);
  border-radius: 4px;
  background-color: hsla(0, 7%, 8%, 0.5);
}
.beer p {
  display: inline;
}
.removeButton{
  color: #b3280d;
}
.adminBeerList{
  float:left;
  width: 79%;
}
.barInfo{
  float: right;
  width: 19%;
  border-left: 1px solid white;
  text-align: left;
  padding-left: 10px;
}
.userInfo{
  font-size: 1.125em;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 3px;
  margin-bottom: 3px;
}
.barUpdate h3, .barUpdate li:nth-child(even){
  cursor: pointer;
}
.userControls{
  text-align: center;
}
.editable-input, .editable-buttons{
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}
.editable-buttons button{
  background: transparent;
  border: none;
  outline: none;
  color: #FDDD0B;
  transition: all 0.3s ease;
}
.editable-buttons button:hover{
  background-color: hsla(0, 0%, 87%, 0.2);
}

/*Register Styles*/
.registerContent, .createABeeer{
  width: 65%;
}
.registerContainer, .createABeer{
  background-color: hsla(0, 7%, 8%, 0.5);
  color: antiquewhite;
}
md-input-container .md-input{
  border-color: rgba(254,253,103,0.82);
  color: antiquewhite;
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input, md-input-container label {
  border-color: antiquewhite;
  color: white;
}
.md-input-focused label {
  color: #FDDD0B;
}

/*------------------------------
      Media Queries
--------------------------------*/
@media screen and (min-width: 1080px){
  .searchBar{
    width: 760px;
  }
}
@media screen and (max-width: 850px) {
  body{
    font-size: 70%;
  }
}
@media screen and (max-width: 620px) {
  body{
    font-size: 50%;
  }
}
@media screen and (max-width: 465px) {
  body{
    font-size: 40%;
  }
}
@media screen and (max-width: 385px) {
  body{
    font-size: 30%;
  }
  .logoImg{
    height: 10px;
  }
  .fa-bars{
    font-size: 2em;
  }
  .adminBeerList, .barInfo{
    float: none;
    margin: 0 auto;
    border: none;
    width: 100%;
  }
  .adminBeerList{
    margin-right: 0;
  }
  .barInfo{
    padding: 0;
    text-align: center;
  }
  .md-button{
    font-size: 50%;
  }
  .customerBeer img{
    height: 40px;
    width: auto;
  }
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add {
  -webkit-transition: 400ms ease-in-out all;
  -moz-transition: 400ms ease-in-out all;
  -o-transition: 400ms ease-in-out all;
  transition: 400ms ease-in-out all;
  display: block !important;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

span.clear { clear: left; display: block; }